<div class="row" *ngIf="quiz">
    <div class="col-4">
        <h1>Trivia Quiz</h1>
    </div>
    <div class="col-8">
        <div class="alert alert-info" *ngIf="editForm.dirty">
            <strong>Information: </strong> You have made changes. Any unsaved changed will be lost.
        </div>
    </div>
 
    <div class="col-8">
        <tabset class="member-tabset">
            <tab heading = 'Question'>
                <form #editForm="ngForm" id="editForm">
                    <h4>Question 1</h4>
                </form>
                <p>{{quiz.question}}</p>
                    <h4>Select Correct Answer</h4>
                    <div class="all-buttons" btnRadioGroup [(ngModel)]="radioModel" [disabled]="modelGroupDisabled">
                        <div class="btn-group" >
                            <div class="correct-answer" >
                            <p>{{quiz.correct}}</p>
                            <label class="btn btn-success" btnRadio="Correct" [disabled]="clicked" (click)="clicked = true; incCount();">Select</label>
                        </div>
                        <div class="btn-group-test" *ngFor="let incorrect of incorrect">
                            <p>{{incorrect.incorrect}}</p>
                            <label class="btn btn-success" btnRadio="Incorrect" [disabled]="clicked" (click)="clicked = true;">Select</label>
                        </div>
                    </div>
                    <pre class="card card-block card-header" >{{radioModel || 'Select your answer'}} </pre>
                    <pre class="card card-block card-header" *ngIf="radioModel == 'Incorrect'">the correct answer is {{quiz.correct}}</pre>
                    <div>
                        <h4>You have: {{this.counterService.count}} points</h4>
                    </div>
                </div>
            </tab>
        </tabset>
    </div>
</div>