<div class="row" *ngIf="user">
    <div class="col-4">
        <h1>Trivia Quiz</h1>
    </div>
    <div class="col-8">
        <div class="alert alert-info" *ngIf="editForm.dirty">
            <strong>Information: </strong> You have made changes. Any unsaved changed will be lost.
        </div>
    </div>
    <div class="col-8">
        <tabset class="member-tabset">
            <tab heading='Question 1'>
                <form #editForm="ngForm" id="editForm">
                    <h4>Choose one</h4>
                    <textarea class="form-control" name="firstChoice" rows="6"></textarea>
                </form>
            </tab>
        </tabset>
    </div>
</div>